# AIM-

Download/web scrape healthcare data(from mouthshut) of Manipal hospital and do several tasks like classification, clustering, topic modeling, aspect mining to gain insights and improve serveciability of hospitality industry.

In [21]:
import pandas as pd
import numpy as np
from nltk.tokenize import word_tokenize
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.preprocessing import LabelEncoder
from collections import defaultdict
from nltk.corpus import wordnet as wn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import model_selection, naive_bayes, svm
from sklearn.metrics import accuracy_score
import nltk

In [22]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\NEHA\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [23]:
manipal_data_reference=pd.read_csv("D:/Text analytics/servqual project/hospitals/manipal/mouthshut/source file/Online Review Data and Servqual Model.csv",header=0,encoding = 'unicode_escape')

In [24]:
manipal_data=pd.read_csv("D:/Text analytics/servqual project/hospitals/manipal/mouthshut/source file/Online Review Data and Servqual Model.csv",header=0,encoding = 'unicode_escape')

In [25]:
manipal_data.head()

,Unnamed: 0,sl.no,Review_Text,Star_Rating,Number_of_Views,No_of_reviews_by_reviewer,Review.Title,Source
0,1,1,Now a days hospitals have become a good busine...,1,1477,103,"Manipal Hospital , yes it is moneypal hospital",Mouthshot
1,2,2,Hey viewers today I am gonna share my views o...,2,2861,72,A nice and great,Mouthshot
2,3,3,\r\nIts nice a great hospital . with modern fa...,3,8955,12,Manipal Hospital takes too much money,Mouthshot
3,4,4,Dear readers and friends I went for a vacatio...,2,4143,117,Amazing Hospital,Mouthshot
4,5,5,hospital is veru good and outstanding I trea...,5,3597,55,Money minded hospital,Mouthshot

A set of text pre-processing techniques is done-
1. Stopwords removal
2. Removing special characters and whitespaces
3. Changing all text to lower case
4. Lemmatization/stemming
5. Word tokenization

In [26]:
#removing na values from dataset
manipal_data.dropna(inplace=True)

In [27]:
#converting data to lower case
manipal_data['Review_Text']=[data.lower() for data in manipal_data['Review_Text']]

In [28]:
#Removing stop words
from nltk.corpus import stopwords
for i in range(len(manipal_data)):
        manipal_data.iloc[i,2]=' '.join([word for word in manipal_data.iloc[i,2].split() if word not in (stopwords.words('english'))])

In [29]:
#tokenize text
manipal_data['Review_Text']=[word_tokenize(data) for data in manipal_data['Review_Text']]

In [30]:
#Lemmatize text
from nltk.stem import WordNetLemmatizer 
lemmatizer = WordNetLemmatizer()
for i in range(len(manipal_data)):
    manipal_data.iloc[i,2] = ' '.join([lemmatizer.lemmatize(w) for w in manipal_data.iloc[i,2]])

In [31]:
manipal_data_reference['Review_Text'][1]

'Hey viewers  today I am gonna share my views on a very prestigious hospital  named as  hospital . today I am reviewing this hospital on behalf of my friend who lives in Bangalore and doing hotel management . recently he was bit ill and hospitalized in this hospital  and he has been taken care by the nurses and the ward boys normally  but for two days bed rest he was charged very high and the facilities are not good as they looks by the outer side .Infrastructure  the infrastructure is descent and the quality of rooms are not good as they should be  but the garden outside it is very beautiful and it feels very relaxing as we look at it.Medical Care  the medical care is average and can be better as the hospital is very large and its name is also famous in India . the facilities are bit on a backward side and it cost a lot for patients which is not worth for me .Staff Attitude  the attitude of  staff is descent but sometimes they behave like rudely and this has to be stopped as early as possible because came in hospital just to be taken care of themselves and they expect care from the staff .Hence this is my review on this hospital  hope you guys like it .\r\n'

In [32]:
manipal_data['Review_Text'][1]

'hey viewer today gon na share view prestigious hospital named hospital . today reviewing hospital behalf friend life bangalore hotel management . recently bit ill hospitalized hospital taken care nurse ward boy normally two day bed rest charged high facility good look outer side .infrastructure infrastructure descent quality room good garden outside beautiful feel relaxing look it.medical care medical care average better hospital large name also famous india . facility bit backward side cost lot patient worth .staff attitude attitude staff descent sometimes behave like rudely stopped early possible came hospital taken care expect care staff .hence review hospital hope guy like .'

In [233]:
#Train and Test data
Train_X, Test_X, Train_Y, Test_Y = model_selection.train_test_split(manipal_data['Review_Text'],manipal_data['Star_Rating'],test_size=0.3)

In [ ]:
#Label Encoder(to convert categorical values to numbers)(Already ratings are numbers so no need)
# Encoder = LabelEncoder()
# Train_Y = Encoder.fit_transform(Train_Y)
# Test_Y = Encoder.fit_transform(Test_Y)

In [236]:
#TF-IDF vectorization
Tfidf_vect = TfidfVectorizer(max_features=5000)
Tfidf_vect.fit(manipal_data['Review_Text'])
Train_X_Tfidf = Tfidf_vect.transform(Train_X)
Test_X_Tfidf = Tfidf_vect.transform(Test_X)

In [240]:
# fit the training dataset on the NB classifier
Naive = naive_bayes.MultinomialNB()
Naive.fit(Train_X_Tfidf,Train_Y)
# predict the labels on validation dataset
predictions_NB = Naive.predict(Test_X_Tfidf)
# Use accuracy_score function to get the accuracy
print("Naive Bayes Accuracy Score -> ",accuracy_score(predictions_NB, Test_Y)*100)

Naive Bayes Accuracy Score ->  53.68421052631579

In [241]:
# Classifier - Algorithm - SVM
# fit the training dataset on the classifier
SVM = svm.SVC(C=1.0, kernel='linear', degree=3, gamma='auto')
SVM.fit(Train_X_Tfidf,Train_Y)
# predict the labels on validation dataset
predictions_SVM = SVM.predict(Test_X_Tfidf)
# Use accuracy_score function to get the accuracy
print("SVM Accuracy Score -> ",accuracy_score(predictions_SVM, Test_Y)*100)

SVM Accuracy Score ->  63.1578947368421

In [205]:
manipal_data.iloc[1,2]

'hey viewers today gonna share views prestigious hospital named hospital . today reviewing hospital behalf friend lives bangalore hotel management . recently bit ill hospitalized hospital taken care nurses ward boys normally two days bed rest charged high facilities good looks outer side .infrastructure infrastructure descent quality rooms good garden outside beautiful feels relaxing look it.medical care medical care average better hospital large name also famous india . facilities bit backward side cost lot patients worth .staff attitude attitude staff descent sometimes behave like rudely stopped early possible came hospital taken care expect care staff .hence review hospital hope guys like .'

In [208]:
manipal_data.iloc[1,2]

'hey viewer today gon na share view prestigious hospital named hospital . today reviewing hospital behalf friend life bangalore hotel management . recently bit ill hospitalized hospital taken care nurse ward boy normally two day bed rest charged high facility good look outer side .infrastructure infrastructure descent quality room good garden outside beautiful feel relaxing look it.medical care medical care average better hospital large name also famous india . facility bit backward side cost lot patient worth .staff attitude attitude staff descent sometimes behave like rudely stopped early possible came hospital taken care expect care staff .hence review hospital hope guy like .'

In [245]:
len(Test_Y)

95

In [246]:
len(predictions_SVM)

95

In [194]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [251]:
manipal_data['Star_Rating'][1]

2

In [33]:
#Converting rating values from 1 to 5 to 0 & 1 (0-Not good, 1- Good)
Classification_Rating=[]
for i in range(len(manipal_data)):
    rating=manipal_data['Star_Rating'][i]
    if rating>=4:
        Classification_Rating.append('1')
    else:
        Classification_Rating.append('0')

manipal_data['Classification_Rating']=Classification_Rating

In [34]:
manipal_data.head()

,Unnamed: 0,sl.no,Review_Text,Star_Rating,Number_of_Views,No_of_reviews_by_reviewer,Review.Title,Source,Classification_Rating
0,1,1,day hospital become good business.i went hospi...,1,1477,103,"Manipal Hospital , yes it is moneypal hospital",Mouthshot,0
1,2,2,hey viewer today gon na share view prestigious...,2,2861,72,A nice and great,Mouthshot,0
2,3,3,nice great hospital . modern facility . people...,3,8955,12,Manipal Hospital takes too much money,Mouthshot,0
3,4,4,dear reader friend went vacation family last w...,2,4143,117,Amazing Hospital,Mouthshot,0
4,5,5,hospital veru good outstanding treating patien...,5,3597,55,Money minded hospital,Mouthshot,1

In [35]:
# NB and SVM classifier after classification of ratings
#Train and Test data
Train_X, Test_X, Train_Y, Test_Y = model_selection.train_test_split(manipal_data['Review_Text'],manipal_data['Classification_Rating'],test_size=0.3)

#Label Encoder(to convert categorical values to numbers)(Already ratings are numbers so no need)
# Encoder = LabelEncoder()
# Train_Y = Encoder.fit_transform(Train_Y)
# Test_Y = Encoder.fit_transform(Test_Y)

#TF-IDF vectorization
Tfidf_vect = TfidfVectorizer(max_features=5000)
Tfidf_vect.fit(manipal_data['Review_Text'])
Train_X_Tfidf = Tfidf_vect.transform(Train_X)
Test_X_Tfidf = Tfidf_vect.transform(Test_X)

# fit the training dataset on the NB classifier
Naive = naive_bayes.MultinomialNB()
Naive.fit(Train_X_Tfidf,Train_Y)
# predict the labels on validation dataset
predictions_NB = Naive.predict(Test_X_Tfidf)
# Use accuracy_score function to get the accuracy
print("Naive Bayes Accuracy Score -> ",accuracy_score(predictions_NB, Test_Y)*100)

# Classifier - Algorithm - SVM
# fit the training dataset on the classifier
SVM = svm.SVC(C=1.0, kernel='linear', degree=3, gamma='auto')
SVM.fit(Train_X_Tfidf,Train_Y)
# predict the labels on validation dataset
predictions_SVM = SVM.predict(Test_X_Tfidf)
# Use accuracy_score function to get the accuracy
print("SVM Accuracy Score -> ",accuracy_score(predictions_SVM, Test_Y)*100)

Naive Bayes Accuracy Score ->  72.63157894736842
SVM Accuracy Score ->  83.15789473684211

In [53]:
#Clustering using k-means

documents=manipal_data['Review_Text'].tolist()
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sklearn.metrics import adjusted_rand_score

vectorizer = TfidfVectorizer(stop_words='english')
X = vectorizer.fit_transform(documents)

true_k = 3
model = KMeans(n_clusters=true_k, init='k-means++', max_iter=100, n_init=1)
model.fit(X)

print("Top terms per cluster:")
order_centroids = model.cluster_centers_.argsort()[:, ::-1]
terms = vectorizer.get_feature_names()
for i in range(true_k):
    print ("Cluster %d:" % i)
    for ind in order_centroids[i, :10]:
        print (' %s' % terms[ind])

Top terms per cluster:
Cluster 0:
 hospital
 good
 doctor
 care
 friend
 staff
 dr
 ballal
 patient
 surgery
Cluster 1:
 doctor
 dr
 hospital
 test
 patient
 asked
 time
 report
 problem
 money
Cluster 2:
 hospital
 doctor
 day
 baby
 treatment
 patient
 room
 father
 time
 test